@font-face {
    font-family: "Zenzai Itacha";
    src: url("../fonts/Zenzai-Itacha.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background-color: white;
    color: black;
    width: 100%;
    position: fixed;
    padding: 0.5rem 0;
    box-shadow: 0 2px 2px #3a3a3a;
}


header a {
    text-decoration: none;
}

#logo {
    color: black;
    text-align: left;
    text-decoration: none;
    font-family: "Zenzai Itacha";
    margin-left: 2rem;
    font-size: 2.5rem;
}

/* Menu */
#menu {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    display: none;
}

#menu li a {
    text-decoration: none;
}

#hero {
    min-height: 100vh;
    background-color: #222;
    /* background-image: url("../images/hero-bw.jpg");
    background-size: cover;
    background-position-x: center; */
}

.overlay {
    background-color: black;
}

#socials {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-evenly;
}

#socials li a {
    text-decoration: none;
    list-style-type: none;
}